.download {
  display: flex;
  margin: 10.25rem auto;
  flex-direction: row;
  gap: 4rem;
}

.download-info {
  max-width: 40rem;
  align-self: center;
}

.download-qr {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  width: 0;
  transition:
    opacity 0.8s ease,
    width 0.8s ease;
}

.download-app {
  position: absolute;
  overflow: hidden;
  opacity: 1;
  width: auto;
  transition:
    opacity 0.8s ease,
    width 0.8s ease;
}

.download.scan .download-qr {
  opacity: 1;
  width: auto;
}

.download.scan .download-app {
  opacity: 0;
  width: 0;
}

.download-btns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.download-btn {
  display: inline-block;
  transition: transform var(--transition);
  cursor: pointer;
}

.download-btn:hover {
  transform: translateY(-0.125rem);
}

.download-btn img {
  height: 3rem;
  width: auto;
  display: block;
}

.download-visual {
  position: relative;
  margin: auto;
  cursor: pointer;
  perspective: 1000px;
}

.download-visual:hover .download-card-front {
  transform: rotate(5deg) translateY(2rem);
}

.download.scan .download-visual:hover .download-card-back {
  transform: scale(1.05) rotateY(180deg);
}

.download-phone-img {
  max-width: 25rem;
  width: 17rem;
  z-index: 10;
}

.download-layer1 {
  position: absolute;
  top: 4rem;
  width: 14rem;
  left: 1.7rem;
  transition: opacity var(--transition);
}

body.light .download-layer1.dark {
  display: none;
}

.download-layer1.light {
  display: none;
}

body.light .download-layer1.light {
  display: block;
}

.download-layer2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5rem;
  width: 12rem;
  opacity: 0;
  transition: opacity var(--transition);
}

body.light .download-layer2.dark {
  display: none;
}

.download-layer2.light {
  display: none;
}

body.light .download-layer2.light {
  display: block;
}

.download.scan .download-layer1 {
  opacity: 0;
}

.download.scan .download-layer2 {
  opacity: 1;
}

.download-card {
  transition: transform 0.8s ease;
  position: absolute;
  transform-style: preserve-3d;
  top: 20rem;
  right: -3rem;
  width: 22rem;
  transform: rotate(97.86deg);
  z-index: -1;
}

.download.scan .download-card {
  transform: rotateY(180deg) translateY(-9.2rem) translateX(0.4rem);
}

.download-card-front,
.download-card-back {
  position: absolute;
  width: 100%;
  transition: transform 0.8s ease;
  backface-visibility: hidden;
}

.download-card-back {
  transform: rotateY(180deg);
}

@media (max-width: 800px) {
  .download {
    flex-direction: column-reverse;
    gap: 2.5rem;
  }

  .download-info {
    align-self: start;
  }
}
